main{
    width: 80%;
    margin: auto;
}

.diapo{
    /* Diapo devient la référence de positionnement pour ses enfants */
    position: relative;
}

/* Masque toutes les images */
.diapo__element{
    display: none;
}

/* Affiche une image */
.diapo__element--active{
    display: initial;
}

.diapo__image{
    width: 100%;
}

.diapo__texte{
    /* Positionnement */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Esthétique */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px;
}

#fleche-gauche, #fleche-droite{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

#fleche-gauche{
    left: 20px;
}

#fleche-droite{
    right: 20px;
}

