.banniere {
    border-top: solid 5px red;
    background:  rgba(0, 0, 0, 0.911);
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.text-banniere{
    font-size: large;

}

.button-banniere {
    padding-top: 15px;
}

.button-banniere a{
    border: 1px solid red;
    padding: 10px;
    background: red;
    border-radius: 7px;
    color: white;
    text-decoration: none;

}
